body {
    background-image: url("img/background_picture.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    align-items: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 48px;
}

.form-container {
    background-color: white;
    max-width: 448px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 368px;
    height: 838px;
    padding: 40px 40px 48px 40px;

}

img .logo {
    max-width: 100%;
    height: 36px;
    margin-bottom: 48px;
}

a#logolink {
    height: 84px;
}

h1 {
    color: #083e9e;
    text-align: center;
    font-weight: 700;
    font-family: 'U8', sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

h1, p {
    margin:0;
}

p {
    color: #4a5568;
    text-align: center;
    font-family: 'Karla',sans-serif;
    font-size: 14px;
    margin-bottom: 32px;
}

.fill {


    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 32px;
    position: relative;
}

label {
font-size: 12px;
color: #4a5568;
margin-bottom: 4px;
line-height: 24px;
font-weight: 700;
font-family: 'U8',sans-serif;
display: block;
}

.put {
background-color: #edf2f7;
border-radius: 4px;
color: #1a202c;
font-size: 16px;
margin: 0px;
padding: 16px;
border-width: 0px;
width: 332px;
height: 24px;
}

#select {

    width: 346.844px;
    height: 38px;
    padding: 8px;
    background-color: rgb(237, 242, 247);
    border-radius: 8px;
    border-width: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    font-size: 16px;
    cursor: default;
}

div.form-container form {
    overflow: auto;
}

a#loginlink {
    text-decoration: inherit;
    color: white;
    font-family: 'Karla',sans-serif;
    font-size: 14px;
    margin: 32px 0px 0px;
    padding: 4px 20px;
    font-weight: 400;
}

button#signup {
background-color: rgb(8, 62, 158);
width: 100%;
text-transform: uppercase;
color: white;
padding: 20px 40px 16px 40px;
border-top-right-radius: 12px;
border-top-left-radius: 12px;
border-bottom-right-radius: 12px;
border-width: 0px;
font-weight: 700;
height: 57px;
font-family: 'U8',sans-serif;
cursor: pointer;
}

#select::placeholder, #select::-webkit-input-placeholder {
    color: black;
}

.put::placeholder, .put::-webkit-input-placeholder {
    color: #adb3bb;
}

button#signup:hover {
    background-color: rgb(6, 43, 111);
}

a#loginlink:hover {
    color: rgb(179, 179, 179);
}

/*i {
    border: solid black;
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
*/